.infobox-actions {
    height: max-content !important;
    min-height: max-content !important;
}

.infobox-body {
    max-height: 350px !important;
    max-width: 300px !important;
    min-height: 150px !important;
}

.infobox-info {
    max-height: 350px !important;
    max-width: 300px !important;
    min-height: 100px !important;
}
#missingCredential {
    display: flex !important;
    margin-top: calc(25%) !important;
    background-color: transparent !important;
}
#missingCredential div {
    background: transparent !important;
    font-size: xx-small !important;
    color: rgba(1, 1, 1, 0.1) !important;
}
#missingCredential div a{
    display: none;
}