* {
    scrollbar-width: thin;
}

@media (orientation: landscape) {
    .postModal {
        --min-width: 80vw;
        --min-height : 80vh;
    }

    div.alert-wrapper {
        --min-width: 500px;
        --max-width: 100vw
    }
}

@media (orientation: portrait) {
    .postModal {
        --min-width: 94vw;
        --min-height : 94vh;
    }

    div.alert-wrapper {
        --min-width: 100vw;
    }
}

.fixHeight {
    max-height: 80vh;
    overflow: hidden;
    height: 100%;
}

.scroll {
    overflow-y: scroll;
}

.circular--square {
    border-radius: 50%;
}

.background-color-primary {
    background: var(--ion-color-primary);
}